// Set Color Text

@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}


// Add Transform
@mixin transform($property) {
  -webkit-transform: $property;
  --ms-transform: $property;
  transform: $property;
}